
:root{
    --primary-color: #4375AE;
    --secondary-color:#1B2845;
    --teritiary-color:#334978;
    --light-color:#D1E3E7;
    --light-background:#e6e2d4;
    --text-color:#F9FBFC;
    --gold-color: #F0B429;
    --green-color:#8EA491;
}


.urbanist-urban {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

body{
    background-color: var(--light-background);
}

h1{
    color:var(--primary-color);
    font-family:'Urbanist',sans-serif;
    font-weight:2000;
    padding-left:30px;
}
.container-one{
    padding-top:150px;
    padding-left:100px;
    display:grid;
    grid-template-columns: 60% 40%;
}
.container-one img{
    padding-top:50px;
    width:80%;
    height:80%;
}

h2{
    color:var(--primary-color);
    font-family:'Urbanist',sans-serif;
    font-size:5rem;
}
p{
    color:var(--secondary-color);
    font-family:'Urbanist',sans-serif;
    font-size:1.5rem;
}

a{
    color:var(--text-color);
    text-decoration: none;
}
a:visited{
    color:var(--text-color);
}
a:hover{
    color:#a6a6a6;
}
ul{
    list-style-type:none;
}



/* off-screen-menu */
.menu {
    background-color: var(--teritiary-color);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    font-family:'Urbanist',sans-serif;
    z-index:2;
}
.menu.active {
    right: 0;
}



/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: var(--light-background);
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    align-items:center;
    align-content:right;
    margin-left:auto;
}

.pfp{
    height: 50px;
    width: 50px;
    margin-left: auto;
    padding-right:10px;
    position: relative;
    justify-content:flex-end;
}

.pfp img{
    height:50px;
    width:50px;
}




/* ham menu */
.ham-menu {
    z-index:3;
    height: 50px;
    width: 40px;
    position: relative;

}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity:0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



/*Contacts*/

.contact-title{
    padding:20px 0 20px 20px;
}

.split{
    display:block;
    height:100%;
    width:50%;
    position:absolute;
    top:250px;
    padding-top:20px;
}

.left{
    left:0;
}
.right{
    right:0;
}
.centered{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

.centered img{
    width:300px;
    border-radius:50%;
}


/*Planner*/


.planner-title{
    padding-left:100px;
}

.element-two{
    padding-left:150px;
    font-family:'Urbanist',sans-serif;
    color:var(--teritiary-color);


}